<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helon.mail.mapper.MailSend1Mapper" >
  <resultMap id="BaseResultMap" type="com.helon.mail.entity.MailSend" >
    <id column="SEND_ID" property="sendId" jdbcType="VARCHAR" />
    <result column="SEND_TO" property="sendTo" jdbcType="VARCHAR" />
    <result column="SEND_USER_ID" property="sendUserId" jdbcType="VARCHAR" />
    <result column="SEND_CONTENT" property="sendContent" jdbcType="VARCHAR" />
    <result column="SEND_PRIORITY" property="sendPriority" jdbcType="DECIMAL" />
    <result column="SEND_COUNT" property="sendCount" jdbcType="DECIMAL" />
    <result column="SEND_STATUS" property="sendStatus" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.helon.mail.entity.MailSend">
    insert into mail_send1 (SEND_ID, SEND_TO, SEND_USER_ID,
    SEND_CONTENT, SEND_PRIORITY, SEND_COUNT,
    SEND_STATUS, REMARK, VERSION,
    UPDATE_BY, UPDATE_TIME)
    values (#{sendId,jdbcType=VARCHAR}, #{sendTo,jdbcType=VARCHAR}, #{sendUserId,jdbcType=VARCHAR},
    #{sendContent,jdbcType=VARCHAR}, #{sendPriority,jdbcType=DECIMAL}, #{sendCount,jdbcType=DECIMAL},
    #{sendStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{version,jdbcType=DECIMAL},
    #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.helon.mail.entity.MailSend" >
    update mail_send1
    <set >
      <if test="sendTo != null" >
        SEND_TO = #{sendTo,jdbcType=VARCHAR},
      </if>
      <if test="sendUserId != null" >
        SEND_USER_ID = #{sendUserId,jdbcType=VARCHAR},
      </if>
      <if test="sendContent != null" >
        SEND_CONTENT = #{sendContent,jdbcType=VARCHAR},
      </if>
      <if test="sendPriority != null" >
        SEND_PRIORITY = #{sendPriority,jdbcType=DECIMAL},
      </if>
      <if test="sendCount != null" >
        SEND_COUNT = #{sendCount,jdbcType=DECIMAL},
      </if>
      <if test="sendStatus != null" >
        SEND_STATUS = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SEND_ID = #{sendId,jdbcType=VARCHAR}
  </update>
</mapper>